*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.box1{
  width: 100%;
  height: 80px;
  background-color: #1A1A1A;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


}
.box1 img{

}

.box1>a:hover img {
  transform: scale(1.3);
  transition: transform 1s;
  filter: brightness(70%);
}


.box2{
    width: 100%;
    height: 2000px;
    background-image: image('img/sub3.png');

}
